.login {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__box {
        &__error {
            display: block;
            white-space: pre-line;
            background-color: #df0000;
            color: white;
            margin: 0 0.3rem;
            padding: 0.4rem 0.4rem;
            font-size: 0.8rem;
            line-height: 1.1rem;
            border-radius: 0.25rem;
            margin-bottom: 0.25rem;

            &--hidden {
                display: none;
            }
        }
    }
}